
/* important ox shadow      box-shadow: 2px 6px 5px 9px white; */

body
{
    margin: 0%;
    
}

.main
{
  height: auto;
  display: flex;
  flex-direction: column;
}




/* shaped div css */

.custom-shape-divider-bottom-1708637945 {
   z-index: -4;
    background-color: #0018A8;
    position: absolute;
    top: 5vh;
    left: 0vh;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    border: none;
   
}

.custom-shape-divider-bottom-1708637945 svg {
    position: relative;
    display: block;
    width: calc(151% + 1.3px);
    height: 270px;
}

.custom-shape-divider-bottom-1708637945 .shape-fill {
    fill: #FFFFFF;
}


.desktop-nav
{
  border: 2px solid red;
  /* display: flex; */
  flex-wrap: wrap;
  height: 15vh;
  align-items: start;
  background-color: #0018A8;
  display: none;
}



.mobile-nav
{
  display: none;

}
/* header css  desktop*/


.navbar1
{
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    /* border: 2px solid red; */
    
}


.logo-div
{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;

}

#logo-txt {
  width: 28vh;
  font-weight: 700;
  color: white;
  position: relative;
  left: 3vh;
  top: 0vh;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.5px;
 
}

.logo
{
   
    height: 12vh;
    width: 12vh;
    object-fit: cover;
    transform: scale(1);
    border-radius: 50%;
    cursor: pointer;
}

.links-div
{
    height: 12vh;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;

}

/* .links
{
    color: white;
    font-weight: 700;
    text-decoration: none;
}
*/
.links:hover
{
    color: white;

} 

.links {
position: relative;
text-decoration: none;
	color: white;
	font-weight: 700;
	vertical-align: top;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		border-radius: 4px;
		background-color: white;
		bottom: 0;
		left: 0;
        color: white;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform .3s ease-in-out;
	}

	&:hover::before {
		transform-origin: left;
		transform: scaleX(1);
      
	}
	
}




/* login button css */

.wrap {
    
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  #login-btn {
    width: 126px;
    height: 53px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: bolder;
    color: #2d36a1;
    border: none;
    border-radius: 7px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;

    }
  
  #login-btn::before {
  content: '';
    /* border-radius: 1000px; */
    min-width: calc(140px + 12px);
    min-height: calc(53px + 12px);
    /* border: 6px solid #00FFCB; */
    /* box-shadow: 0 0 60px rgba(0,255,203,.64); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  #login-btn:hover, #login-btn:focus {
    color:white;
    border: 2px solid #2d36a1;
    background-color: transparent;

    

    
  }
  
  #login-btn:hover::before, #login-btn:focus::before {
    opacity: 1;
  }
  
  #login-btn::after {
    
    content: '';
    width: 126px;
    height: 53px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  #login-btn:hover::after, #login-btn:focus::after {
    animation: none;
    display: none;
    border: none;
    
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }



/* header css mobile */

.mobile-header
{
  display: block;
}

.navbar2
{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  border: 2px solid red;
}

.logo-div-mob
{
   /* border: 2px solid yellow; */
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 8vh;
}

.logo-mob
{
  height: 6vh;
  object-fit: cover;
  border-radius: 50%;
}









.middle-div
{
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  top: 9vh;
  left: 37vh;
  height: 52vh;
  /* border: 1px solid white; */
}


.fa-quote-left
{
  margin-right: 2vh;
}
.fa-quote-right{
  margin-left: 0vh;
}


#quote1
{
  font-size: 2em;
    color: white;
    max-width: 104vh;
}

.intro-txt
{
  color: white;
  max-width: 87vh;
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 1.6;

}





/* read books btn */

.readbtn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
text-align: center;
  outline: none;
  transition: 1s ease-in-out;
}

.border {
     
  position: relative;
  left: -7px;
  top: -27px;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.readbtn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.readbtn:hover svg {
  stroke-dashoffset: -480;
}

.readbtn span {
  color: white;
  font-size: 20px;
  font-weight: bold;
  top: 1.6vh;
  position: relative;
}
